/* global DOM */
html, body { font-size: 16px; }
input, span { display: inline-block; }
hr { color: #fff; background: #fff; border: 0; height: 1px; margin: 0 0.4rem 0.6rem 0.4rem; }
p { margin: 0 !important; }
iframe { width: 420px; height: 1013px; border: 1px solid #ddd; border-radius: 5px; }
textarea { padding: 10px 14px; border: 1px solid #999; border-radius: 4px; color: #666; }


/* global components */
img.exclamation { width: 100px; height: 100px; }
input.common-input { min-width: 100px; height: 34px; padding: 0 14px; border: 1px solid #D6D6D6; border-radius: 4px; vertical-align: middle; color: #333; }
select.common-select { min-width: 100px; height: 34px; border: 1px solid #D6D6D6; border-radius: 4px; font-size: 14px; padding: 0 14px; }
textarea.common-textarea { padding: 10px 14px; border: 1px solid #D6D6D6; border-radius: 4px; color: #333; }

button:disabled, button[disabled] { opacity: 0.65; cursor: not-allowed !important; }

/* 목록의 filter table */
table.table-list-search { border-collapse: collapse; font-size: 14px; }
table.table-list-search tr th { font-weight: 600; padding: 15px 0px; text-align: left; border-bottom: 1px solid #E4E4E4; }
table.table-list-search tr td { padding: 15px 0px; text-align: left; border-bottom: 1px solid #E4E4E4; }
table.table-list-search tr:last-child td { padding-top: 19px; border-bottom: none; }

/* date picker input */
input.datepicker { min-width: 120px; text-align: center; }

/* list table css */
table.table-list { border-collapse: collapse; border: 1px solid #D6D6D6; font-size: 14px; }
table.table-list th { height: 44px; min-width: 70px; background-color: #F3F3F3; border: 1px solid #D6D6D6; font-weight: 500; }
table.table-list th.required::before { content: '*'; display: inline-block; margin-left: 3px; font-size: 15px; color: #E12222; }
table.table-list td { height: 44px; padding: 10px; background-color: #FFF; border: 1px solid #D6D6D6; }
table.table-list tbody tr:hover td { background-color: #f7fdff; }

/* detail table css */
table.table-detail { border-collapse: collapse; border: 1px solid #D6D6D6; font-size: 14px; }
table.table-detail th { height: 44px; min-width: 70px; background-color: #F3F3F3; border: 1px solid #D6D6D6; font-weight: 500; }
table.table-detail th.required::before { content: '*'; display: inline-block; margin-left: 3px; font-size: 15px; color: #E12222; }
table.table-detail td { height: 44px; padding: 10px; background-color: #FFF; border: 1px solid #D6D6D6; }
table th.required::before { content: '*'; display: inline-block; margin-left: 3px; font-size: 15px; color: #E12222; }

/* 목록의 상단 영역 */
div.table-title h5.list-header { display: inline-block; font-size: 15px; font-weight: 600; }
div.table-title h5.list-header p.list-title { display: inline-block; }
div.table-title h5.list-header p.list-totcnt { display: inline-block; }
div.table-title h5.list-header p.list-totcnt span { color: #B70000; }
div.table-title div.list-added-info { display: inline-block; margin-right: 20px; }
div.table-title div.list-added-info p { display: inline-block; font-size:13px; font-weight: default; }
div.table-title div.list-button-group { display: flex; float:right; }

/* 프로젝트 목록에서 보여줄 thumbnail */
img.thumb { max-width: 80px; max-height: 28px; }
/* 프로젝트 목록에서 보여줄 색상 */
p.color-box { display: inline-block; width: 40px; height: 28px; margin: 0; }

/* 페이징 */
div.pagination-container { color: #ABABAB; margin-top: 10px; text-align: center; }
div.pagination-container button { padding: 0; }
div.pagination-container button.page-button { width: 32px; height: 32px; border: 0px; background: #fff; color: #ABABAB; font-size: 15px; line-height: 14px; font-weight: 600; cursor: pointer; }
div.pagination-container button.active-page { color: #5B76E2; font-weight: 650; opacity: 1 !important; }

/* 버튼 */
button.btn-main { width: 120px; height: 40px; }
button.btn-sub { height:30px; padding: 0 10px; font-size: 12px; font-weight: 500;}

/* 프로젝트 수정시 기존 등록된 이미지 */
img.update-img-view { display: block; width: 50%; margin: 20px 0; max-width: 400px; }

/* 프로젝트 사전등록 항목 입력시 title */
span.ent-info-title { display: inline-block; margin-right: 10px; }

/* desc */
p.desc { font-size: 14px; color: #999; }

/* 패스워드 변경 테이블 */
table.table-password { font-size: 14px; }
table.table-password th, table.table-password td { height: 44px; }
