/* global DOM */
input, span { display: inline-block; }
hr { color: #fff; background: #fff; border: 0; height: 1px; margin: 0 0.4rem 0.6rem 0.4rem; }

/* global components */
img.exclamation { width: 100px; height: 100px; }

button:disabled, button[disabled] { opacity: 0.65; cursor: not-allowed !important; }

/* detail table css 추가(상세페이지) */
table.table-list { border-collapse: collapse; border: 1px solid #D6D6D6; font-size: 14px; }
table.table-list th { height: 44px; min-width: 70px; background-color: #F3F3F3; border: 1px solid #D6D6D6; font-weight: 500; }
table.table-list th.required::before { content: '*'; display: inline-block; margin-left: 3px; font-size: 15px; color: #E12222; }
table.table-list td { height: 44px; padding: 10px; background-color: #FFF; border: 1px solid #D6D6D6; cursor: pointer; }
table.table-list tbody tr:hover td { background-color: #f7fdff; }

/* q-table의 상단 영역 */
div.table-title h5.list-header { display: inline-block; font-size: 15px; font-weight: 600; }
div.table-title h5.list-header p.list-title { display: inline-block; }
div.table-title h5.list-header p.list-totcnt { display: inline-block; }
div.table-title h5.list-header p.list-totcnt span { color: #B70000; }
div.table-title div.list-added-info { display: inline-block; margin-right: 20px; }
div.table-title div.list-added-info p { display: inline-block; font-size:13px; font-weight: default; }
div.table-title div.list-button-group { display: flex; float:right; }

/* 프로젝트 목록에서 보여줄 thumbnail */
img.thumb { max-width: 100px; max-height: 40px; }

/* 페이징 */
div.pagination-container { color: #ABABAB; margin-top: 10px; text-align: center; }
div.pagination-container button { padding: 0; }
div.pagination-container button.page-button { width: 32px; height: 32px; border: 0px; background: #fff; color: #ABABAB; font-size: 15px; line-height: 14px; font-weight: 600; cursor: pointer; }
div.pagination-container button.active-page { color: #5B76E2; font-weight: 650; opacity: 1 !important; }
